*.lnk
*.url
*.bin.fbx

/source/Debug/
/source/Release/
/source/Profile/
/source/ipch/

/source/extern/*/Debug/
/source/extern/*/Release/
/source/extern/*/Profile/

/source/docs/

/source/*.config
/source/save/*.save
/source/log/*.log

/source/.vs/

*.vcxproj.user
*.opensdf
*.sdf
*.suo

/docs/

/package/

/reference/

/log/
/source/extern/Debug
/source/extern/Release
