*.lnk
*.url
*.bin.fbx

/.vs

/doc/html/

/source/lib/x86/*
/source/lib/x64/*
/source/Debug/
/source/Release/
/source/Profile/
/source/ipch/

/source/extern/*/Debug/
/source/extern/*/Release/
/source/extern/*/Profile/

/source/imgui.ini
/source/*.config
/source/save/*.save
/source/log/*.log

/source/.vs/

*.vcxproj.user
*.opensdf
*.sdf
*.suo

/log/
/package/
/reference/

/source/packages/
/source/blue-sky-cppcheck-build-dir/

/source/blue-sky-2-google-test/Debug/
/source/blue-sky-2-google-test/.vs/

/source/media/texture/matcap/test/*



