*.lnk
*.url
*.bin.fbx

*.vcxproj.user
*.opensdf
*.sdf
*.suo

/.vs/
/log/
/package/
/reference/

/doc/html/

/source/.vs/
/source/.build/
/source/packages/
/source/blue-sky-cppcheck-build-dir/

/source/lib/x86/*
/source/lib/x64/*
/source/lib/*.zip

/source/imgui.ini
/source/blue-sky.config
/source/save/*.save
/source/log/*.log



/source/media/texture/matcap/test/*



