audio.enable 1
camera.fov 90
input.joystick.a 3
input.joystick.b 1
input.joystick.l 5
input.joystick.r 6
input.joystick.x 2
input.joystick.y 4
input.key.a 1
input.key.b 2
input.key.down S
input.key.l Q
input.key.left A
input.key.r E
input.key.right D
input.key.up W
input.key.x 1
input.key.y 2
input.mouse.x_sensitivity 1
input.mouse.y_sensitivity 1
player.gravity 0.002
video.full_screen 1
video.grid-object-lod-0-length 100
video.grid-object-visible-length 300
video.height 480
video.multi_sample_quality 8
video.multi_sample_type 8
video.width 640
